events { }

http {
  upstream backend {
    server user-controller:9080;
    server user-controller:9081;
    server user-controller:9082;
  }

  upstream frontend {
    server user-frontend:3000;
    server user-frontend:3001;
    server user-frontend:3002;
  }

  server {
    listen 80;

    location /api/ {
      proxy_pass http://backend;
    }

    location / {
      proxy_pass http://frontend;
    }
  }
}