.ant-menu,.ant-menu-item {
    background: #272C34 !important;
}
.header{
    display: flex;
    padding: 2vw;
    justify-content: right;
    width: 100%;
    box-sizing: border-box;
}

.header li{
    list-style: none;
    margin-right: 2vw;
    cursor: pointer;
}
.me{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #9FB3F7;
    line-height: 14px;
    text-align: center;
}